<h1>Articles</h1>

<% @articles.each do |article| %>
    <ul>
        <li><%= article.title %></li>
        <li><%= article.description %></li>
        <li><% article.categories.each do |category| %>
            <ul> 
            <li><%= category.name %></li>
            </ul>
            <% end %>
            <%= link_to 'View', article_path(article)%>|
            <%= link_to 'Edit', edit_article_path(article)%>|
            <%= link_to 'Delete', article_path(article), method: :delete%>
        </li>

    </ul>
<% end %>

<%= link_to 'New article', new_article_path%> |
<%= link_to 'Categories', categories_path%> |
<%= link_to 'Users', users_path%>